<!DOCTYPE html>
<head> 
    <title> Disease types </title>
</head>
<body>
    <center>
        <h1> All disease types</h1>
        <hr/>
        <a href="{% url 'Insertdiseasetype' %}">Create new disease type</a>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Description</th>
            </tr>
            {% for result in data %}
            <tr>
                <td>{{result.id}} </td>
                <td>{{result.description}} </td>
                <td><a href="Editdiseasetype/{{result.id}}"/>Edit</a></td>
                <td><a href="Deletediseasetype/{{result.id}}" onclick="return confirmation('Are you sure you want to delete?')">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'main' %}">Go to main page</a>
        <a href="{% url 'tables' %}">Go to tables page</a>
    </center>
</body>