<!DOCTYPE html>
<head> 
    <title> Query5 </title>
</head>
<body>
    <center>
        <h1> Query 5 </h1>
        <h3>List the departments of public servants who report “covid-19” cases in more than one country and the number of such public servants who work in these departments. (i.e “Dept1 3” means that in the “Dept1” department there are 3 such employees.)
        </h3>
        <hr/>
        <table border="1">
            <tr>
                <th>Result</th>
            </tr>
            {% for result in row %}
            <tr>
                <td>{{result}} </td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'main' %}">Go to main page</a>
        <a href="{% url 'queries' %}">Go to queries page</a>
    </center>
</body>