<!DOCTYPE html>
<head> 
    <title> Queries page </title>
</head>
<body>
    <center>
        <h1> Welcome to the page with results of all queries! </h1>
        <hr/>
        <h2> See the query results </h2>
        <h4><a href="{% url 'Test' %}"> Query 1 </a></h4>
        <h4><a href="{% url 'Query2' %}"> Query 2 </a></h4>
        <h4><a href="{% url 'Query3' %}"> Query 3 </a></h4>
        <h4><a href="{% url 'Query4' %}"> Query 4 </a></h4>
        <h4><a href="{% url 'Query5' %}"> Query 5 </a></h4>
        <h4><a href="{% url 'Query6' %}"> Query 6 </a></h4>
        <h4><a href="{% url 'Query7' %}"> Query 7 </a></h4>
        <h4><a href="{% url 'Query8' %}"> Query 8 </a></h4>
    <hr/>
        <h2><a href="{% url 'main' %}"> Back to main page </a></h2>
    </center>
</body>