<!DOCTYPE html>
<head> 
    <title> Tables page </title>
</head>
<body>
    <center>
        <h1> Welcome to the page with all tables! </h1>
        <hr/>
        <h2> See the tables </h2>
        <h3><a href="{% url 'showemp' %}"> Users </a></h3>
        <h3><a href="{% url 'showcountry' %}"> Country </a></h3>
        <h3><a href="{% url 'showdisease' %}"> Disease </a></h3>
        <h3><a href="{% url 'showdiseasetype' %}"> Disease type </a></h3>
        <h3><a href="{% url 'showdiscover' %}"> Discover </a></h3>
        <h3><a href="{% url 'showpublicservant' %}"> Public Servants </a></h3>
        <h3><a href="{% url 'showdoctor' %}"> Doctors </a></h3>
        <h3><a href="{% url 'showspecialize' %}"> Specializations </a></h3>
        <h3><a href="{% url 'showrecord' %}"> Records </a></h3>
    <hr/>
        <h2><a href="{% url 'main' %}"> Back to main page </a></h2>
    </center>
</body>